	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i|Roboto:300'); /* Roboto and OpenSans Google Font */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'); /* Bootstrap CSS */

body {
	background-color: #06b3c8;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}

h1 {
	text-align:center;
	padding-top: 20px;
	font-size: 30px;
	color: white;
  font-family: 'Roboto';
}

h2 {
	text-align:center;
	font-size: 18px;
	color: white;
	padding: 5;
  font-family: 'Roboto', sans-serif;
}

h3 {
	text-align:center;
	font-size: 16px;
	color: white;
	padding: 10;
  font-family: 'Roboto', sans-serif;
}

h4 {
	text-align:center;
	font-size: 14px;
	color: white;
	padding: 10;
  font-family: 'Roboto', sans-serif;
}

.footer_boi {
	position: sticky;
	left: 0;
	bottom:0;
	width: 100%;
	height: 6%;
	background-color: #e85721;
	color: white;
  padding: 6px;
	text-align: center;
}

.logo {
	padding: 20;
	height: 200px;
	width: 240px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.smartDotPicture
{
  padding: 20;
  height: 200px;
  width: 500px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.MenuBar {
	list-style-type: none;
	position: absolute;
	position: sticky;
	margin: 0;
	padding: -1;
	display: table;
	margin: 0 auto;
}

.bttButton {
    text-align: center;
}


li {
	display: inline-block;
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #e85721;
}

li a:hover {
    background-color: #f78b63;
}


.active {
    background-color: #4CAF50;
}

.Hyperlink {
	padding: 5px;
}

.Form {
	text-align:center;
}

input[type=text], select, textarea {
  width: 35%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 35%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=tel], select, textarea {
  width: 35%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Styling for the submit & reset buttons */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type=reset] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 25px;
  border: 5px;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #4CAF50;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover, .collapsible:active{
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active, .collapsible:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.main_text {
  border: 1px solid orange;
  padding: 10px;
  margin: 30px;
  color: white;
  font-size: 20px;
}
